{% extends 'base.html' %}

{%block content%}
<style>

    body{           
        height: 100vh;
        width: 100vw;        
        background-image: url("../static/imagenes/header.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }
    header{
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>
<body>

    <header class="p-4">
      <div class="container">
        <h1 class="display-4 text-center text-white">Secretaria De Obras Públicas</h1>
        <p class="lead text-center text-white">La provincia de Tucumán cuenta con un sistema para el registro de obras realizadas en su territorio. Este sistema, denominado "Registro de Obras Públicas de Tucumán", es administrado por la Secretaría de Estado de Obras Públicas.</p>
      </div>
    </header>
    
    </body>

{%endblock%}
